.page-heading {
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 1em;
  text-align: center;
  line-height: 1; }
  .page-heading:after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: #FE913E;
    margin: 40px auto 0; }

#album_name {
  margin-top: 5px; }


/*# sourceMappingURL=app.css.map */