.page-heading {
  margin-top: 1em;
  margin-bottom: 0;
  padding-bottom: 1em;
  text-align: center;
  line-height: 1;

  &:after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background: $brandColor;
    margin: 40px auto 0;
  }
}
#album_name {
  margin-top: 5px;
}